page{
	padding-top: 130upx;
	box-sizing: border-box;
	background-color: #F2F2F2;
}
.nav{
	padding: 0 45upx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 32upx;
	font-weight: bold;
	height: 130upx;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.nav image{
	width: 50upx;
	height: 40upx;
}
.intro{
	padding: 20upx 30upx;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	align-items: center;
	font-size: 25upx;
	color: #b4b4b4;
	line-height: 44upx;
}
.intro .head{
	width: 150upx;
	height: 150upx;
	border-radius: 15upx;
	margin-right: 30upx;
}
.intro .shareimg{
	width: 100upx;
	height: 100upx;
}
.menu{
	display: flex;
	align-items: center;
	padding: 10upx 0;
	border-bottom: 1upx solid #F7F7F7;
	font-size: 28upx;
	font-weight: bold;
	background-color: white;
}
.menu text{
	display: block;
	width: 33%;
	text-align: center;
}
.active{
	color: #40CCCB;
	position: relative;
}
.active::before{
	content: '';
	width: 50%;
	height: 5upx;
	background-color: #40CCCB;
	position: absolute;
	bottom: -10upx;
	left: 50%;
	transform: translateX(-50%);
}
/* 空间信息 */
.swiper6{
	width: 100%;
	margin-bottom: 20upx;
	background-color: white;
	padding-left: 25upx;
	box-sizing: border-box;
}
.swiper6 image{
	height: 450upx;
	border-radius: 15upx;
	width: 100%;
}
.swiper6 swiper-item{
	font-size: 30upx;
	margin-top: 50upx;
}
.swiper6 .subject{
	display: block;
	font-size: 30upx;
	margin: 30upx 0;
}
.swiper6 /deep/ .intro1{
	font-size: 20upx;
	color: #b6b6b6;
	width:100%;
	text-overflow: -o-ellipsis-lastline; 
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4; 
	-webkit-box-orient: vertical;
	white-space: normal;
}
.check{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-130%);
	width: 124upx;
	height: 124upx;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 23upx;
	color: white;
	background-color: #40CCCB;
}
.sign{
	padding: 10upx 15upx;
	box-sizing: border-box;
	font-size: 22upx;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15upx 0 15upx 0;
}
.dot{
	width: 20upx;
	height: 20upx;
	background-color: white;
	border-radius: 50%;
	border: 3upx solid #969698;
	margin: 20upx 0 0 -20upx;
}
/* 商品清单 */
.product-list{
	background-color: white;
	margin-top: 20upx;
	overflow: hidden;
}
.info{
	padding: 0 25upx;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	margin-bottom: 40upx;
}
.info image{
	width: 275upx;
	height: 275upx;
	margin-right: 20upx;
}
.info view{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10upx 0;
	box-sizing: border-box;
}
.total{
	padding: 40upx 70upx;
	box-sizing: border-box;
	border-top: 1upx solid #F7F7F7;
	font-size: 30upx;
	text-align: right;
}
/* 体验评价 */
.assess{
	background-color: white;
	margin-top: 20upx;
	overflow: hidden;
	padding-bottom: 120upx;
	box-sizing: border-box;
}
.title{
	padding: 40upx 25upx;
	box-sizing: border-box;
	border-bottom: 1upx solid #F7F7F7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title image{
	width: 10upx;
	height: 17upx;
	margin-left: 40upx;
}
.cont{
	padding: 22upx 25upx;
	font-size: 23upx;
	box-sizing: border-box;
	border-bottom: 1upx solid #F7F7F7;
}
.head{
	display: flex;
	align-items: center;
}
.head image{
	width: 50upx;
	height: 50upx;
	margin-right: 20upx;
	border-radius: 50%;
}
.star image{
	width: 20upx;
	height: 20upx;
	margin-left: 10upx;
}
.all{
	width: 90%;
	margin: 40upx auto;
	height: 78upx;
	line-height: 78upx;
	text-align: center;
	color: #40CCCB;
	border: 3upx solid #40CCCB;
	border-radius: 10upx;
}
/* 底部 */
.footer{
	width: 90%;
	height: 90upx;
	background-color: white;
	z-index: 1000;
	position: fixed;
	bottom: 10upx;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 5upx 5upx 10upx 0 rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15upx;
	box-sizing: border-box;
	border-radius: 10upx;
}
.ordering{
	width: 190upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	font-size: 24upx;
	font-weight: bold;
	color: white;
	background-color: #40CCCB;
	border-radius: 10upx;
}
/* 收藏弹框 */
.collect,.uncollect{
	width: 280upx;
	height: 280upx;
	background-color: white;
	border: 1upx solid #F7F7F7;
	border-radius: 10upx;
	z-index: 1000;
	display: flex;
	opacity: 0;
	transition: opacity 1s;
	flex-direction: column;
	align-items: center;
	font-size: 26upx;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.collecting,.uncollecting{
	opacity: 1;
	transition: opacity 1s; 
}
.collect image,
.uncollect image{
	width: 66upx;
	height: 66upx;
	margin: 60upx 0 40upx 0;
}
/* 查看全部图片 */
.check-img{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	color: white;
	font-size: 30upx;
}
.check-img swiper,
.check-img swiper-item,
.check-img swiper-item image{
	width: 100%;
	height: 500upx;
}
.check-img swiper{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
