page{
	background-color: #f2f2f2;
}
.aline{
	 height: var(--status-bar-height);
	 width: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 100;
}
.aline1{
	 height: var(--status-bar-height);
	 width: 100%;
	 background-color: white;
}
.bg-img{
	width: 100%;
	background-size: 100% 100%;
	height: 650upx;
	color: white;
	background-image: url(~@/static/bg@2x.png);
}
.nav .active{
	opacity: 1;
	transition: opacity 1s;
}
.nav{
	width: 100%;
	position: fixed;
	top: var(--status-bar-height);
	left: 0;
	display: flex;
	justify-content: space-between;
	padding: 30upx 40upx;
	box-sizing: border-box;
	align-items: center;
	font-size: 36upx;
	font-weight: bold;
	opacity: 1;
	transition: opacity 1s;
	z-index: 100;
	background-size: 100% 100%;
}
.nav image{
	width: 50upx;
	height: 50upx;
}
.nav view{
	display: flex;
}
.nav .info-dot{
	display: block;
	width: 18upx;
	height: 18upx;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 25upx;
	opacity: 1;
	background-color: #ff6162;
}
.nav-active{
	position: fixed;
	width: 100%;
	height: 160upx;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: 0;
	transition: opacity 1s;
}
.navactive{
	width: 100%;
	height: auto;
	background-color: white;
	padding: 30upx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.nav-active image,
.nav-active1 image{
	width: 50upx;
	height: 50upx;
}
.nav-active view,
.nav-active1 view{
	display: flex;
}
.myname{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-weight: bold;
	font-size: 40upx;
}
.nav-active .info-dot{
	display: block;
	width: 18upx;
	height: 18upx;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 30upx;
	opacity: 1;
	background-color: #ff6162;
}
.nav-active1 .info-dot{
	display: block;
	width: 18upx;
	height: 18upx;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 30upx;
	opacity: 1;
	background-color: #ff6162;
}
.nav-active1{
	position: fixed;
	width: 100%;
	height: 160upx;
	background-color: white;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: 1;
	transition: opacity 1s;
}
/* 用户信息,登录 */
.user{
	padding: 30upx 40upx;
	box-sizing: border-box;
}
.info{
	display: flex;
	font-size: 36upx;
	font-weight: bold;
	justify-content: space-between;
	margin-top: 150upx;
}
.info .head image{
	width: 130upx;
	height: 130upx;
	border-radius: 50%;
	border: 10upx solid #72d1d3;
}
.info .enter{
	width: 15upx;
	height: 24upx;
	align-self: flex-end;
	margin-bottom: 45upx;
}
.handle{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 70upx;
}
.handle text{
	display: block;
	font-size: 30upx;
	font-weight: bold;
}
.handle view{
	text-align: center;
	position: relative;
}
.handle view::before{
	content: '';
	width: 1upx;
	height: 40%;
	background-color: white;
	position: absolute;
	top: 50%;
	right: -70upx;
	transform: translateY(-50%);
}
.handle view:last-child::before{
	width: 0;
}
.handle image{
	width: 90upx;
	height: 106upx;
}
/* 我的订单 */
.order{
	background-color: white;
	margin-top: 15upx;
	width: 90%;
	position: relative;
	top: -130upx;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 25upx;
	box-shadow: 5upx 5upx 10upx 3upx rgba(0,0,0,0.05);
}
.order .tit{
	padding: 40upx 30upx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30upx;
}
.order image{
	width: 15upx;
	margin-left: 10upx;
}
.statue{
	padding: 20upx 0 40upx 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 25upx;
	color: #848484;
}
.statue image{
	width: 60upx;
	height: 50upx;
	display: block;
	margin: auto;
	margin-bottom: 20upx;
}
.statue view{
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}
.statue .num{
	position: absolute;
	top: -10upx;
	right: -10upx;
	width: 32upx;
	height: 32upx;
	line-height: 32upx;
	text-align: center;
	color: white;
	background-color: #ff5556;
	font-size: 20upx;
	border-radius: 50%;
}
/* 我的设计 */
.design{
	background-color: white;
	width: 90%;
	position: relative;
	top: -100upx;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 25upx;
}
.designer{
	padding: 20upx 40upx;
	box-sizing: border-box;
	font-size: 30upx;
	font-weight: bold;
}
.design-num{
	display: flex;
	justify-content: space-around;
}
.design-num view{
	display: flex;
	flex-direction: column;
	padding: 30upx 0;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	width: 50%;
}
.design-num view:nth-child(2n-1)::after{
	content: '';
	width: 4upx;
	height: 104upx;
	background-color: #f1f1f1;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
/* 列表 */
.list{
	width: 90%;
	background-color: white;
	position: relative;
	top: -70upx;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 25upx;
}
.list view{
	display: flex;
	align-items: center;
	font-size: 30upx;
}
.list image{
	width: 45upx;
	height: 47upx;
}
.list .entry{
	width: 15upx;
	height: 25upx;
}
/* 设计师/品牌入驻 */
.settled{
	display: flex;
	align-items: center;
	padding: 30upx 40upx;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: white;
	margin-top: 15upx;
}
.settled view{
	display: flex;
	align-items: center;
	font-size: 30upx;
}
.settled image{
	width: 45upx;
	height: 47upx;
}
.settled .entry{
	width: 15upx;
	height: 25upx;
}