
.swiper{
	background-color: white;
	padding: 20upx 30upx;
	box-sizing: border-box;
	width: 100%;
	height: 175px;
}

.swiper swiper-item{
	width: 100%;
}
.swiper image{
	width: 100%;
	height: 100%;
}
.dot{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	padding: 20upx 30upx;
	box-sizing: border-box;
}
.dot view{
	display: flex;
	align-items: center;
	font-size: 22upx;
	color: #616161;
}
.dot image{
	width: 28upx;
	height: 28upx;
	margin-right: 12upx;
}
.ad{
	background-color: white;
	padding: 40upx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 25upx;
}
.ad view{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}
.ad image{
	width: 75upx;
	height: 72upx;
	margin-bottom: 15upx;
}
/* 家空间 */
.space{
	background-color: white;
	padding: 20upx 30upx;
	box-sizing: border-box;
}
.house{
	padding: 30upx 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	box-shadow: 0 0 5upx 5upx rgba(0,0,0,0.03);
	border-radius: 20upx;
}
.house view{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25upx;
	width: 33.3%;
	border-right: 1upx solid #F2F2F2;
}
.house view:last-child{
	border-right: none;
}
.tit{
	font-size: 33upx;
	display: flex;
	font-weight: bold;
	justify-content: space-between;
}
.more{
	width: 15upx;
	height: 20upx;
}
.check{
	font-size: 24upx;
	color: #a8a8a8;
	font-weight: normal;
	margin-right: 10upx;
}
.type{
	display: flex;
	margin-top: 33upx;
}
.type image{
	width: 50%;
	height: 130upx;
}
.room image{
	width: 100%;
	height: 140upx;
	margin-bottom: 10upx;
}
.room .bor{
	width: 50%;
	margin: 10px 0;
}
.room .bor:nth-child(2n-1){
	border-right: 1px solid #F2F2F2;
}
.room view{
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
	flex-wrap: wrap;
}
.design-ad{
	width: 100%;
	height: 140upx;
	display: block;
}
/* 现货推荐 */
.now{
	padding: 0 30upx;
	box-sizing: border-box;
}
.swiper2{
	width: 100%;
	margin-bottom: 20upx;
}
.swiper2 image{
	height: 225upx;
	width: 90%;
	display: block;
	margin: auto;
}
.swiper2 view{
	box-shadow: 0 0 5upx 3upx rgba(0,0,0,0.05);
	border-radius: 30upx;
	padding-bottom: 10upx;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 10upx;
	margin-left: 10upx;
}
.swiper2 swiper-item{
	margin-top: 30upx;
}
.swiper2 .subject{
	font-size: 30upx;
	display: block;
	margin: 20upx 20upx 0;
	color: #030303;
	font-weight: 700;
}
.swiper2 .intro{
	font-size: 20upx;
	color: #666666;
	display: block;
	margin: 0 20upx 15upx;
}
.swiper2 .price{
	font-size: 35upx;
	margin: 0 20upx 0 0;
	font-weight: 600;
}
/* 商品列表 */
.product{
	padding: 20upx 30upx;
	box-sizing: border-box;
	margin-top: 15upx;
	background-color: white;
}
.title{
	padding: 0 20upx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.topic{
	font-size: 35upx;
	font-weight: 600;
	display: flex;
	align-items: center;
}
.topic .a{
	position: relative;
	font-weight: bold;
}
.topic .a::before{
	content: '';
	width: 55upx;
	height: 6upx;
	background-color: #40CCCC;
	position: absolute;
	top: 50%;
	left: -65upx;
	transform: translateY(-50%);
}
.topic text:nth-child(3){
	font-size: 30upx;
	font-weight: normal;	
}
.num{
	font-size: 25upx;
	font-weight: bold;
}
.num text{
	font-size: 20upx;
	font-weight: normal;
}
/* 专题轮播 */
.swiper1{
	width: 100%;
	margin-bottom: 20upx;
}
.swiper1 image{
	height: 245upx;
	width: 100%;
	border-radius: 30upx 30upx 0 0;
}
.swiper1 view{
	box-shadow: 0 0 5upx 5upx rgba(0,0,0,0.03);
	border-radius: 30upx;
	padding-bottom: 20upx;
	box-sizing: border-box;
}
.swiper1 swiper-item{
	font-size: 30upx;
	margin-top: 50upx;
}
.swiper1 .subject{
	display: block;
	font-size: 30upx;
	margin: 30upx 20upx 10upx;
	color: #030303;
	font-weight: 600;
}
.swiper1 .intro{
	font-size: 20upx;
	color: #666666;
	width:100%;
	text-overflow: -o-ellipsis-lastline; 
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1; 
	-webkit-box-orient: vertical;
	white-space: normal;
	padding: 0 20upx;
	box-sizing: border-box;
}


.list-nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24upx;
	color: #999999;
	padding: 30upx 0;
	box-shadow: 0 0 5upx 3upx rgba(0,0,0,0.1);
}
.navactive{
	color: #40CCCB;
	font-size: 30upx;
	font-weight: bold;
	position: relative;
}
.navactive::after{
	content: '';
	width: 100%;
	height: 5upx;
	background-color: #40CCCB;
	position: absolute;
	left: 0;
	bottom: -30upx;
}
.list-detail{
	padding: 0 30upx 20upx;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.list-detail view{
	width: 48%;
	box-shadow: 0 0 5upx 3upx rgba(0,0,0,0.03);
	margin-top: 20upx;
	border-radius: 15upx;
	padding-bottom: 20upx;
}
.list-detail image{
	width: 90%;
	height: 260upx;
	display: block;
	margin: auto;
}
.list-detail text{
	display: block;
	margin: 0 20upx;
}
.list-detail .name1{
	font-size: 28upx;
	font-weight: bold;
	color: #030303;
	font-family: 'pingfang' !important;
}
.list-detail .intro1{
	font-size: 22upx;
	color: #666666;
	margin: 0 20upx 10upx;
}
.list-detail .price1{
	font-size: 35upx;
	font-weight: 600;
	display: inline-block;
}